/* Styles for Mobile devices */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: block;
  width: 70px;
  height: 60px;
}

.logo-image {
  width: 100%;
}

.site-nav {
  display: none;
}

.nav-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-link.button {
  padding: 8px 20px;
}

.burger {
  border: none;
  background-color: inherit;
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-icon {
  fill: #000000;
  width: 24px;
  height: 24px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .site-nav {
    display: block;
  }

  .burger {
    display: none;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
