<section class="benefits-section" id="benefits">
  <div class="container">
    <h2 class="section-title center benefits-title">
      Capture Every Moment with Our Tailored Wedding Photography Packages
    </h2>

    <ul class="benefits-list">
      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="/img/sprite.svg#icon-wedding-packages"></use>
        </svg>
        <h3 class="card-title">
          Your Perfect Story: A Package Tailored for You.
        </h3>
        <p class="card-description">
          Explore our collection of wedding packages, each designed to perfectly
          capture the uniqueness of your special day.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="benefits-icon">
          <use
            href="/img/sprite.svg#icon-full-day-wedding-photography
"
          ></use>
        </svg>
        <h3 class="card-title">From Dawn to Stars: Your Full Day in Frame.</h3>
        <p class="card-description">
          Capture every emotion, from the morning preparations to the grand
          finale of your wedding celebration.
        </p>
      </li>

      <li class="benefits-item">
        <svg class="benefits-icon">
          <use href="/img/sprite.svg#icon-intimate-wedding-ceremony"></use>
        </svg>
        <h3 class="card-title">Precious Moments: Capturing Your Key Events.</h3>
        <p class="card-description">
          Perfect for preserving the most important moments of your intimate
          ceremony or smaller celebration.
        </p>
      </li>
    </ul>
  </div>
</section>
