<section class="contacts-section" id="contacts">
  <div class="container contacts-container">
    <div class="contacts-info">
      <h2 class="section-title center contacts-title">Let's Tell Your Story</h2>
      <p class="contacts-text">
        I can't wait to hear more about your wedding! Tell me about your plans,
        and I'll be in touch to discuss how we can create magic together.
      </p>

      <ul class="contacts-list">
        <li class="contacts-item">
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="/img/sprite.svg#icon-mail"></use>
          </svg>
          <a class="link contacts-link" href="mailto:info@mariakovalenko.com"
            >info@mariakovalenko.com</a
          >
        </li>
        <li class="contacts-item">
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="/img/sprite.svg#icon-call"></use>
          </svg>
          <a class="link contacts-link" href="tel:+405551234567"
            >+40 (555) 123-4567</a
          >
        </li>
        <li class="contacts-item">
          <svg class="contacts-icon" width="24" height="24" aria-hidden="true">
            <use href="/img/sprite.svg#icon-location_on"></use>
          </svg>
          <p class="contacts-address">
            Raschdorffstraße 2-26, 13409 Berlin, Germany
          </p>
        </li>
      </ul>
    </div>

    <form class="contacts-form">
      <label class="contacts-field">
        <span class="contacts-label">Name*</span>
        <input
          class="contacts-input"
          type="text"
          name="name"
          placeholder="Maria"
          required
        />
      </label>

      <label class="contacts-field">
        <span class="contacts-label">Phone*</span>
        <input
          class="contacts-input"
          type="tel"
          name="phone"
          placeholder="+1 (202) 111 2323"
          required
        />
      </label>

      <label class="contacts-field">
        <span class="contacts-label">Message</span>
        <textarea
          class="contacts-input contacts-textarea"
          name="comment"
          placeholder="Tell me a little about you and your special day. Don't forget to include your wedding date, venue, and what you're most excited about..."
        ></textarea>
      </label>

      <button class="button contacts-button" type="submit">Let's Talk</button>
    </form>
  </div>
</section>
