<section class="hero-section " id="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="page-title hero-title">Capture Your Love Story with Timeless Photography</h1>
      <p class="hero-subtitle">
        At Maria Kovalenko Photography, we specialize in capturing the genuine emotions of your special day. 
        Let us turn your unforgettable moments into stunning memories that last a lifetime.
      </p>
    </div>
    <a class="button hero-button" href="#contacts">Book a session</a>
  </div>
</section>
