<section class="portfolio-section" id="portfolio">
  <div class="container">

      <h2 class="portfolio-title section-title">Portfolio Highlights</h2>

      <ul class="portfolio-filter">
        <li class="portfolio-categories-btn">
          <button type="button">All Photos</button>
        </li>
        
        <li class="portfolio-categories-btn">
          <button type="button">Candid Moments</button>
        </li>

        <li class="portfolio-categories-btn">
          <button type="button">Portrait Perfection</button>
        </li>

        <li class="portfolio-categories-btn">
          <button type="button">Ceremony & Vows</button>
        </li>

        <li class="portfolio-categories-btn">
          <button type="button">Joyful Celebrations</button>
        </li>

        <li class="portfolio-categories-btn">
          <button type="button">Standart</button>
        </li>

        <li class="portfolio-categories-btn">
          <button type="button">Attention to Detail</button>
        </li>

      </ul>

      <ul class="portfolio-list">

        <li class="portfolio-photo">
          <img src="/img/portfolio/1-port.jpg" alt="photo-1"/>
        </li>

       <li class="portfolio-photo">
          <img src="/img/portfolio/2-port.jpg" alt="photo-2"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/3-port.jpg" alt="photo-3"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/4-port.jpg" alt="photo-4"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/5-port.jpg" alt="photo-5"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/6-port.jpg" alt="photo-6"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/7-port.jpg" alt="photo-7"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/8-port.jpg" alt="photo-8"/>
        </li>

        <li class="portfolio-photo">
          <img src="/img/portfolio/9-port.jpg" alt="photo-9"/>
        </li>
        
      </ul>

      <div class="portfolio-button">
        <button type="button" class="show-more-btn button">
          Show More
        </button>
      </div>
      
      <div class="loader is-hidden">
          <span class="loader-spinner"></span>
      </div>
    
  </div>
</section>
